[Desktop Entry]
Type=Application
Name=Poweroff
Comment=Poweroff the system

Exec=sh -c "zenity --question --text 'Reboot?' && systemctl reboot"

Categories=System;
