[Desktop Entry]
Type=Application
Name=Reboot
Comment=Reboot the system

Exec=sh -c "zenity --question --text 'Reboot?' && systemctl reboot"

Categories=System;
