[Desktop Entry]
Type=Application
Name=Suspend
Comment=Suspend the system

Exec=sh -c "zenity --question --text 'Suspend?' && systemctl suspend"

Categories=System;
