/* edited from default config https://github.com/Alexays/Waybar/blob/4c46d7d245a6c06644d6a0e8857f7140556202ce/resources/style.css */
@import "colors.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Source Code Pro, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-radius: 10px; /* Adjust this to make the elements courners rounded  */
}

window#waybar {
  background-color: transparent;
  color: @base05;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -2px @base04;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @base05;
}

/* Disable the not appealing hover effect */
/* https://github.com/Alexays/Waybar/issues/60#issue-374460615 */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background-color: @base02;
  color: @base06;
}

#workspaces button.urgent {
  background-color: @base08;
  color: @base06;
}

#submap {
  background-color: @base03;
  color: @base06;
  padding-left: 5px;
  padding-right: 5px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#submaps,
#idle_inhibitor,
#power-profiles-daemon {
  padding: 0 10px;
}

#window {
  margin: 0 4px;
}

#clock {
  background-color: @base01;
  color: @base06;
}

#battery.charging, #battery.plugged {
  background-color: @base0B;
  color: @base06;
}

@keyframes blink {
to {
  background-color: #ffffff;
  color: #000000;
}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @base08;
  color: @base06;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: @base08;
  color: @base06;
}

#power-profiles-daemon.balanced {
  background-color: @base00;
}

#power-profiles-daemon.power-saver {
  background-color: @base0B;
  color: @base06;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: @base08;
}

#pulseaudio.muted {
  background-color: @base03;
}

#temperature.critical {
  background-color: @base08;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @base08;
}

#idle_inhibitor {
  background-color: @base03;
  color: @base06;
}

#idle_inhibitor.activated {
  background-color: @base02;
  color: @base06;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
}

#privacy-item.screenshare {
  background-color: @base0F;
  color: @base06;
}

#privacy-item.audio-in {
  background-color: @base0E;
  color: @base06;
}

#privacy-item.audio-out {
  background-color: @base0D;
  color: @base06;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @base00;
  opacity: 0.9;
  padding: 4px;
}

window#waybar #window {
  padding-left: 10px;
  padding-right: 10px;
}

/* Hide window title decoration when there is no window in the workspace */
/* https://github.com/Alexays/Waybar/issues/1448#issuecomment-1078151905 */
window#waybar.empty .modules-center {
  background: none;
}
