/* inspired in https://www.reddit.com/r/unixporn/comments/crkjqm/sway_space_gruvbox */

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Source Code Pro, sans-serif;
    font-size: 13px;
    min-height: 0;
}

@import "gruvbox.css";

window#waybar {
    background-color: transparent;
    border-bottom: 3px solid rgba(69, 133, 136, 1);
    color: @white_b;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @white_b;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.focused {
    background: @blue;
    box-shadow: inset 0 -3px @blue;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 6px;
    margin: 0 3px;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    background-color: @orange_b;
}

#battery {
    background-color: @white_b;
    color: @background;
}

#battery.charging, #battery.plugged {
    color: @background;
    background-color: @green;
}

@keyframes blink {
    to {
        background-color: @white_b;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    background: @red;
    color: @white_b;
    animation-name: blink;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
